.footer {
  background-attachment: fixed;
  position: relative;
  line-height: 20px;
  overflow: hidden;
  // custom footer
  .footer__nav {
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    display: flex;
    // justify-content: space-between;
  }
  .footer__contacts-wrapper {
    list-style: none;
    margin-bottom: 0;
    .contact-title {
      position: relative;
      padding: 1px 0;
      color: black;
      .icon-position {
        position: absolute; 
        top: 4px; 
        left: -20px;
      }
    }
  }
  .footer__custom-btn {
    transition: all 0.25s ease;
    white-space: pre;
    color: white;
    background: #f44336;
    font-size: 13px;
    line-height: 32px;
    display: block;
    padding: 0 15px;
    &:hover {
      color: white;
      background: #df473d;
      box-shadow: 0px 7px 13px -6px rgba(230,101,101,1);
    }
  }
  .footer__feedback {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 47%;
  }
  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-weight: normal;
      li {
        display: inline-block;
        padding: 10px 15px;
        margin: 15px 3px;
        line-height: 20px;
        text-align: center;
      }
      a:not(.btn) {
        color: $font-color;
        display: block;
        margin-bottom: 3px;

        &:focus,
        &:hover {
          color: $default-states-color;
        }
      }
    }
  }
  .copyright {
    color: $font-color;
    padding: 10px 15px;
    font-size: 14px;
    white-space: nowrap;
    margin: 15px 3px;
    line-height: 20px;
  }
  .heart {
    color: $danger-color;
  }
  .footer-contacts {
    width: 50%;
    margin: 0 9px;
  }
  .contact-wrapper {
    display: flex; 
    width: 80%; 
    justify-content: space-between;
  }
  .logo-wrapper {
    width: 25%;
    min-width: 140px;
  }
  @media (max-width: 980px) {
    .contact-wrapper {
      .footer__feedback {
        flex-direction: column-reverse;
        width: 33%;
      }
    }
    .footer__contacts {
      width: auto;
      display: flex;
      justify-content: center;
    }
    .feedback__text {
      text-align: center;
    }
  }
  @media(max-width: 796px) {
    .contact-wrapper {
      flex-direction: column;
      width: 50%;
    }
    .footer__nav {
      justify-content: space-between;
    }
    .contact-wrapper {
      .footer__feedback {
        flex-direction: column-reverse;
        width: 50%;
        padding: 10px 10px;
        text-align: center;
      }
    }
  }
  @media(max-width: 610px) {
    .footer__nav {
      flex-direction: column;
      align-items: center;
    }
    .contact-wrapper {
      align-items: center;
      .footer__feedback {
        width: 100%;
      }
    }
    .footer__contacts-wrapper {
      margin-left: 10px;
      .footer__contacts-wrapper {
        padding: 35px 0!important;
        .contact-title {
          display: block;
          padding: 12px 0!important;
        }
      }
    }
  }
}
