.wrapper 
.sidebar {
  overflow-y: scroll;
  overflow-x: hidden;
  width: var(--sidebar-expanded);
  transition: width 0.5s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  max-height: 100%;
  height: 100%;
  .sidebar-wrapper {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    width: var(--sidebar-expanded);
    z-index: 4;
    box-shadow: inset -1px 0px 0px 0px $medium-gray;
    padding-bottom: 22px;
    .nav-item-title {
      opacity: 1;
      transition: opacity 0.3s;
      white-space: nowrap;
      position: absolute;
      padding-left: 42px;
      top: 20px;
    }
    .sidebar__header-logo {
      transition: all 0.3s;
      margin: 0 0 0 25px;
      background: url('../../../../assets/images/best-leasing-logo.png');
      background-size: 160px 45px;
      width: 160px;
      height: 45px;
      z-index: 3;
    }
    .vue-paper-sidebar__logo-wrapper {
      background: #f4f3ef; 
      width: 100%;
      z-index: 1; 
      padding: 35px 0 32px 0; 
    }
  }
  .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
  }
}
.wrapper { 
  .sidebar {
    &.sidebar--hide {
      width: var(--sidebar-collapsed);
      .vue-paper-sidebar__logo-wrapper {
        padding: 30px 0 22px 0;
      }
      .sidebar-wrapper {
        transition: width 0.5s;
        width: var(--sidebar-collapsed);
      }
      .sidebar__header-logo {
        margin-right: auto;
        margin-left: auto;
        background: url('../../../../assets/images/best-leasing-logo-small.png');
        background-size: 60px 60px;
        width: 60px;
        height: 60px;
        z-index: 3;
      }
      .moving-arrow {
        transition: all 0.5s; // redefine transition in movingArrow.vue
        left: 67px;
      }
      .nav-item-title {
        opacity: 0;
      }
    }
  }
}
.wrapper .sidebar {
  background: repeating-linear-gradient(60deg, #e2746f, #eb443d 35%, #f31d13 50%);
  width: 260px;
  display: block;
  font-weight: 200;

  .logo {
    padding: 13px 0;
    margin: 0 20px;
    p {
      float: left;
      font-size: 20px;
      margin: 10px 10px;
      line-height: 20px;
    }
    .simple-text {
      padding: $padding-small-vertical $padding-zero;
      display: block;
      font-size: $font-size-base;
      text-align: center;
      font-weight: $font-weight-bold;
      line-height: 40px;
      text-align: left;
      .logo-img {
          width: 40px;
          display: inline-block;
          height: 40px;
          margin-left: 0px;
          margin-right: 10px;
          background: white;
          border-radius: 40px;
          text-align: center;
        img {
          max-width: 21px;
        }
      }
    }
  }
  .nav {
    padding: 0;
    .nav-item {
      width: 100%;
      position: relative;
      padding: 8px 0 1px 0;
      .nav-link {
        margin: 4px 0px;
        padding-left: 25px;
        padding-right: 25px;
        opacity: .7;
      }
      &:hover > .nav-link {
        opacity: 1;
      }
      &.active > .nav-link {
        color: $black;
        opacity: 1;
      }
    }
    p {
      margin: 0;
      line-height: 30px;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 24px;
      float: left;
      margin-right: 15px;
      line-height: 30px;
      width: 30px;
      text-align: center;
    }
  }
  &,
  &[data-background-color="white"] {
    @include sidebar-background-color($white-background-color, $default-color);
  }
  &[data-background-color="black"] {
    @include sidebar-background-color($black-background-color, $white-color);
  }
  &[data-background-color="darkblue"] {
    @include sidebar-background-color($darkblue-background-color, $white-color);
  }
  &[data-active-color="primary"] {
    @include sidebar-active-color($primary-color);
  }
  &[data-active-color="info"] {
    @include sidebar-active-color($info-color);
  }
  &[data-active-color="success"] {
    @include sidebar-active-color($success-color);
  }
  &[data-active-color="warning"] {
    @include sidebar-active-color($warning-color);
  }
  &[data-active-color="danger"] {
    @include sidebar-active-color($danger-color);
  }
  &[data-active-color="black"] {
    @include sidebar-active-color($black);
  }
}

.main-panel {
  transition: width 0.5s;
  width: calc(100% - var(--sidebar-expanded)); // see app-predefined.scss :root
  position: static;
  z-index: 2;
  margin: 0 0 0 10px;
  float: right;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  > .content {
    // margin: 0 0 0 10px;
    position: relative;
    margin-top: var(--header-height)!important;
    // margin: 0 0 33px 10px;
    padding: 30px 5px 30px 15px;
    min-height: calc(100% - 223px);
  }
  > .footer {
    border-top: 1px solid #cdcdcd;
    display: flex;
    min-height: 40px;
    align-items: center;
  }
  .--toggle-icon-active {
    transform: rotate(180deg)
  }
  .sidebar__toggle-icon {
    transition: transform 0.25s ease;
  }
  .sidebar__toggle-icon:hover {
    cursor: pointer;
  }
  .navbar {
    margin-bottom: 0;
    height: var(--header-height);
    position: fixed; 
    width: inherit;
  }
  .--dark {
    color: #66615b;
  }
}
.wrapper {
  .main-panel {
    &.main-panel--expand { 
      width: calc(100% - var(--sidebar-collapsed));
    }
  }
}