.app__btn-primary {
  transition: all 0.2s;
  color: $white;
  font-size: 16px;
  cursor: pointer;
  padding: 7px 16px;
  min-width: 120px;
  height: 35px;
  background: $primary;
}
.app__btn-primary:hover {
  transition: all 0.2s;
  background: #039dd4;
  box-shadow: 0px 3px 6px -1px rgba(0,174,239,1);
}