@media(min-width: 1200px) {
  .app__presentation-block {
    background-size: 100%;
    background-position: 0 100%;
  }
}
@media(min-width: 1550px) {
  .dashboard-container {
    width: 78%;
  }
  .right-block-wrapper {
    width: 20%;
  }
}
@media(min-width: 1750px) {
  .dashboard-container {
    width: 81%;
  }
  .right-block-wrapper {
    width: 18%;
  }
}
@media(max-width: 1200px) {
  .dashboard-container {
    width: 67%;
  }
  .right-block-wrapper {
    width: 30%;
  }
}
@media(max-width: 1040px) {
  .dashboard-wrapper {
    flex-direction: column; 
  }
  .mobile-agent-info {
    display: flex;
  }
  .mobile-agent-not-manager {
    display: block;
  }

  .dashboard-container {
    width: 100%;
  }
  .dashboard-news {
    display: block!important;
  }
}
@media(max-width: 885px), screen and (max-height: 530px) {
  .app__presentation-block {
    display: none;
  }
  
  .app__form-block {
    width: 100%;
    height: auto;
    background-image: url('../assets/images/auto-medium.png'),
    linear-gradient(180deg, #32a3dc 0, $white);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 150%;
  }
  .app__form-logo-wrapper {
    display: flex;
    padding-bottom: 8px;
  }
  .app__login-form {
    padding: 25px 30px 10px 30px;
    width: 400px;
  }

  .app__input-text {
    height: 40px;
  }
  .app__input-text-wrapper {
    height: 55px;
  }
}


@media(max-width: 557px) {
  .label__block-wrapper {
    width: 85%;
  }
  .app__form-block {
    background-image: url('../assets/images/auto-small.png'),
    linear-gradient(180deg, #32a3dc 0, $white);
  }
}