.label__block {
  background: repeating-linear-gradient(60deg, #e2746f, #eb443d 15%, #f31d13 20%);
  min-height: 100vh; 
  width: 100%;
}
.label__block-wrapper {
  z-index:5; 
  position: relative;
  font-family: "Roboto", sans-serif;
  line-height: 160%;
  border-radius: 4px;
  box-shadow: -5px 7px 20px -4px rgba(0,0,0,0.75);
  background-color: #fff;
  text-align: center; 
  padding: 25px 25px 50px 25px;
  margin: 50px 0;
  width: 580px; 
  min-height: 350px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 120px;
}
.label__logo-wrapper {
  padding: 18px 0 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.label__logo {
  background: url('../assets/images/best-leasing-logo.png');
  background-size: 130px 35px;
  width: 130px;
  height: 35px;
  z-index: 3;
}
.label__hr {
  width: 65%;
  height: 10px;
  padding: 1px;
  border-bottom: 1px solid #6c757d;
  margin-right: auto;
  margin-left: auto;
}
.label__header {
  font-size: 33px;
  line-height: 52px;
  font-family: "Roboto", "sens-serif";
  margin: 26px 0 0 0;
}
.label__header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.label__header-svg {
  margin-bottom: 3px; 
  margin-right: 5px;
}
.label__subheader {
  font-size: 19px; 
  font-family: "Roboto", "sens-serif";
  line-height: 35px;
}
.label__paragraph {
  font-size: 16px;
  line-height: 32px;
  font-family: "Roboto", "sens-serif";
}
.rhombus-1 {
  width: 20%; 
  height: 320px; 
  background: url('../assets/icons/rhombus-10x10.png');
  background-repeat: space;
  transform: skewX(45deg) rotate(32deg);
  position: fixed;
  bottom: 5%;
  right: 17%;
  z-index: 1;
}
.rhombus-2 {
  width: 20%; 
  height: 460px; 
  background: url('../assets/icons/rhombus-10x10.png');
  background-repeat: space;
  transform: skewX(25deg) rotate(94deg);
  position: fixed;
  top: 11%;
  left: 17%;
  z-index: 1;
}
.rhombus-3 {
  width: 20%; 
  height: 200px; 
  background: url('../assets/icons/rhombus-10x10.png');
  background-repeat: space;
  transform: skewX(25deg) rotate(94deg);
  position: fixed;
  bottom: -120px;
  left: 5%;
  z-index: 1;
}